.show {
    display: block;
}
.hide {
    display: none;
}
#block{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 0 0 0 10px;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
}
#door_left, #door_right {
    width: 250px;
    height: 400px;
    border: 1px solid red;
    background: #f48342;
}
#scoreboard {
    height: 20px;
    width: 460px;
    padding: 20px;
    border-color: #000;
    border-style: solid;
    background-color: #fff;
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-size: 1em;
}
#door_right {
    position: absolute;
    right: 0;
}

#door_left {
    position: absolute;
}

#button {
    position: absolute;
    top: 150px;
    right: 150px;
    width: 200px;

}
#container {
    position: relative;
    overflow: hidden;
    left: 450px;
    width: 500px;
    height: 480px;
    border: 3px solid #73AD21;
}
.btn {
    color:red;
    border: 1px solid red;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;

}
.but{
    position:absolute;
    top: 150px;
    right: 150px;
    width: 200px;
}