body {
    font-size: 2em;
    background: #4f5154;
    display: flex;
    justify-content: center;

}
#display, .button, #scoreboard{
    border-width: 2px;
    border-color: #000;
    border-style: solid;
    background-color: #fff;
    display: inline-block;
    margin: 3px;
    text-align: center;
}
.button:hover{
    color: #fff;
    font-weight: bold;
    background-color: #090a0a;
}
.button, #openDoor{
    width: 45%;
}
#display, #scoreboard {
    height: 20px;
    padding: 20px;
    text-align: center;
    font-size: 1em;
}
#container {
    display: none;
}
#exit {
    display: none;
}